.footer-1 {
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 15rem;
}

.logo{
  margin: 0;
  padding: 0;
}

.disclaimer {
  text-align: center;
  max-width: 800px;
  line-height: 24px;
  margin: 16px 10px 20px 10px;
}

.icons{
  font-size: 24px;
}

.icon:hover{
  color: #00a651;
}

footer ul{
  list-style-type: none;
  display: flex;
}

footer li{
  margin: 0 2vw;
  cursor: pointer;
}

footer li:hover, #a-home:hover{
  color: #00a651;
}

#a-home{
  text-decoration: none;
  color: white;
}

.footer-2 {
  display: flex;
  background-color: #000000;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-size: 16px;
}

.copyright {
 margin: 0 2vw;
}

@media only screen and (max-width: 680px) {
  .footer-1 {
    height: 17rem;
  }

  .footer-2 {
    flex-direction: column;
    height: 7rem;
    justify-content: space-evenly;
 }
}
@media only screen and (max-width: 410px) {
  .footer-1 {
    font-size: 14px;
    height: 19rem;
 }

 .footer-2{
  font-size: 14px;
 }
 .icons{
  font-size: 20px;
}
}